* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #c1ffe2;
}

.icon-conatiner {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 15px;
    box-shadow: 20px 20px 15px 0 #ababab4d;
    cursor: pointer;
    /* animation: bounce 0.3s 1 forwards; */
}

svg {
    width: 50px;
    height: auto;
}

svg:last-child {
    position: absolute;
}

.icon-conatiner:active {
    animation: press 0.2s 1 linear;
}

.icon-conatiner:active svg:last-child {
    animation: bounce 0.2s 1 linear;
}

.text {
    color: #666;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}

@keyframes press {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.92);
    }

    to {
        transform: scale(1);
    }
}

@keyframes bounce {
    50% {
        transform: rotate(5deg) translate(20px, -50px);
    }

    to {
        transform: scale(0.9) rotate(10deg) translate(50px, -80px);
        opacity: 0;
    }
}