* {
    box-sizing: border-box;
    transform-style: preserve-3d;
    will-change: transform;
}

*:after,
*:before {
    box-sizing: border-box;
    transform-style: preserve-3d;
    will-change: transform;
}

:root {
    --bg: hsl(210, 32%, 80%);
    --hover: 0.05;
    --default: 0.01;
    --limit: 0.9;
    --height: 30;
    --width: 20;
    --depth: 15;
    --frame: 1;
    --handle: hsl(0, 0%, 80%);
    --hue: 10;
    --saturation: 0%;
    --drawer-one: hsl(0, 0%, 98%);
    --drawer-two: hsl(0, 0%, 90%);
    --drawer-three: hsl(0, 0%, 95%);
    --transition: 0.2s;

    /* Calculated Colors */
    --unit-one: hsl(var(--hue), var(--saturation), 50%);
    --unit-two: hsl(var(--hue), var(--saturation), 40%);
    --unit-three: hsl(var(--hue), var(--saturation), 20%);
    --unit-four: hsl(var(--hue), var(--saturation), 15%);
}

body {
    background: var(--bg);
    display: grid;
    place-items: center;
    min-height: 100vh;
    /* Removed body transform scale to avoid messing up main gallery view inside iframe */
}

.chest {
    height: calc(var(--height) * 1vmin);
    /* Adjusted transform for better view */
    transform: translate3d(0, 0, 0) rotateX(-32deg) rotateY(40deg);
    width: calc(var(--width) * 1vmin);
    color: hsl(0, 10%, 10%);
}

.chest__panel {
    position: absolute;
}

.chest__panel--back {
    background: var(--unit-two);
    height: 100%;
    width: 100%;
    transform: translate3d(0, 0, calc(var(--depth) * -0.5vmin));
}

.chest__panel--front {
    height: 100%;
    width: 100%;
    transform: translate3d(0, 0, calc(var(--depth) * 0.5vmin));
}

.chest__panel--front-frame {
    height: 100%;
    width: 100%;
    border: calc(var(--frame) * 1vmin) solid var(--unit-one);
    border-bottom-width: calc(var(--frame) * 2vmin);
    transform: translate3d(0, 0, 0);
    box-sizing: border-box;
}

.chest__panel--front-frame:after,
.chest__panel--front-frame:before {
    content: '';
    background: var(--unit-one);
    height: calc(var(--frame) * 1.5vmin);
    width: calc(var(--width) * 1vmin);
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
}

.chest__panel--front-frame:after {
    top: calc(100 / 3 * 1.01%);
}

.chest__panel--front-frame:before {
    top: calc(100 / 3 * 2.01%);
}

.chest__panel--left,
.chest__panel--right {
    height: 100%;
    left: 50%;
    width: calc(var(--depth) * 1vmin);
    background: var(--unit-three);
    transform: translate(-50%, 0) rotateY(90deg) translate3d(0, 0, calc(var(--width) * 0.5vmin));
}

.chest__panel--left {
    transform: translate(-50%, 0) rotateY(90deg) translate3d(0, 0, calc(var(--width) * -0.5vmin));
}

.chest__panel--right {
    width: calc((var(--depth) * 1vmin) + 2px);
}

.chest__panel--top,
.chest__panel--bottom {
    height: calc(var(--depth) * 1vmin);
    width: calc(var(--width) * 1vmin);
    background: var(--unit-two);
}

.chest__panel--top {
    top: 0;
    width: calc((var(--width) * 1vmin) + 0.1vmin);
    height: calc((var(--depth) * 1vmin) + 0.1vmin);
    left: 50%;
    transform: translate(-50%, -50%) rotateX(-90deg);
}

.chest__panel--bottom {
    bottom: 0;
    transform: translate(0, 50%) rotateX(-90deg);
}

.chest__drawer {
    --drawer-height: calc((var(--height) - (5 * var(--frame))) / 3);
    position: absolute;
    top: var(--top, 0);
    left: 50%;
    height: calc(var(--drawer-height) * 1vmin);
    width: calc((var(--width) - (2 * var(--frame))) * 1vmin);
    transform: translate3d(-50%, 0, calc((var(--depth) * 0.5vmin) + 0.01vmin));
}

.chest__drawer[data-position="1"] {
    --index: 1;
    --top: calc(var(--frame) * 1vmin);
}

.chest__drawer[data-position="2"] {
    --index: 2;
    --top: calc(((2 * var(--frame)) + var(--drawer-height)) * 1vmin);
}

.chest__drawer[data-position="3"] {
    --index: 3;
    --top: calc(((3 * var(--frame)) + (2 * var(--drawer-height))) * 1vmin);
}

.drawer__structure {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform var(--transition);
    transform: translate3d(0, 0, calc((var(--open, var(--default)) * var(--depth)) * 1vmin));
}

.drawer__panel {
    position: absolute;
}

.drawer__panel--left,
.drawer__panel--right {
    width: calc(var(--depth) * 1vmin);
    height: 65%;
    background: var(--drawer-two);
    bottom: 1%;
}

.drawer__panel--left {
    left: 0;
    transform-origin: 0 50%;
    transform: rotateY(90deg);
}

.drawer__panel--right {
    right: 0;
    transform-origin: 100% 50%;
    transform: rotateY(-90deg);
}

.drawer__panel--front {
    height: calc((var(--drawer-height) + (0.6 * var(--frame))) * 1vmin);
    width: calc((var(--width) - (0.6 * var(--frame))) * 1vmin);
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 1px);
    background: var(--unit-four);
}

.drawer__panel--bottom {
    width: 100%;
    height: calc(var(--depth) * 1vmin);
    background: var(--drawer-three);
    bottom: 5%;
    left: 50%;
    transform-origin: 50% 100%;
    transform: translate(-50%, 0) rotateX(90deg);
}

.drawer__panel--back {
    width: 100%;
    height: 65%;
    background: var(--drawer-one);
    bottom: 1%;
    left: 50%;
    transform: translate3d(-50%, 0, calc(var(--depth) * -1vmin));
    text-align: center;
    line-height: calc(var(--drawer-height) * 0.65vmin);
    font-size: 3vmin;
    font-family: sans-serif;
    font-weight: bold;
}

.letter {
    color: hsl(var(--hue), 80%, 50%);
    display: inline-block;
    animation: wave calc(var(--open) * 1s) calc(var(--delay) * -0.1s) infinite ease-in-out;
}

.letter:nth-of-type(1) {
    --hue: 15;
    --delay: 0;
}

.letter:nth-of-type(2) {
    --hue: 35;
    --delay: 1;
}

.letter:nth-of-type(3) {
    --hue: 45;
    --delay: 2;
}

.letter:nth-of-type(4) {
    --hue: 90;
    --delay: 3;
}

.letter:nth-of-type(5) {
    --hue: 180;
    --delay: 4;
}

.letter:nth-of-type(6) {
    --hue: 260;
    --delay: 5;
}

.letter:nth-of-type(7) {
    --hue: 320;
    --delay: 6;
}

@keyframes wave {

    0%,
    100% {
        transform: translate3d(0, 10%, 1px);
    }

    50% {
        transform: translate3d(0, -10%, 1px);
    }
}

details {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    outline: transparent;
    z-index: 2;
    /* Ensure clicks hit details */
}

details:hover:not([open]),
details:hover:not([open])+.drawer__structure {
    --open: var(--hover);
}

details[open],
details[open]+.drawer__structure {
    --open: var(--limit);
}

summary {
    outline: transparent;
    height: 100%;
    width: 100%;
    display: block;
    /* Ensure it takes space */
}

summary::-webkit-details-marker {
    display: none;
}

summary:after {
    content: '';
    position: absolute;
    background: linear-gradient(var(--handle), var(--handle)) 50% 15% / 40% 8% no-repeat, transparent;
    height: 110%;
    width: 110%;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0.5vmin);
    pointer-events: none;
    /* Let clicks pass through handle visual */
}